[submodule "lib/uoscore-uedhoc"]
	path = lib/uoscore-uedhoc
	url = https://github.com/eriptic/uoscore-uedhoc.git
[submodule "lib/PQClean"]
	path = lib/PQClean
	url = https://github.com/PQClean/PQClean.git
[submodule "lib/freeradius-server"]
	path = lib/freeradius-server
	url = https://github.com/FreeRADIUS/freeradius-server.git
